<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/header.css" />
    <link rel="shortcut icon" href="~/Content/img/icon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <div class="menu">
            <a href="@Url.Action("Index","Home")"><img src="~/Content/img/logo.png" class="logo"></a>
            <div class="pesquisa">
                <input type="search" name="search" class="search" placeholder="Serviços, Produtos, Tratamentos...">
                <button type="submit"><svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg></button>
            </div>
            @{
                if (Session["user"] != null)
                {
                    <div id="logado">
                        <a href="@Url.Action("Dashboard","Adm")">
                            <div class='login'>
                                <img src="~/Content/img/userl.png">
                                <h1>@Session["user"].ToString()</h1>
                            </div>
                        </a>
                        <a href="@Url.Action("Logout","Adm")"><img id="logout" src="~/Content/img/logout.png" title="Logout" /></a>
                    </div>
                }
                else
                {
                    <a href="@Url.Action("Login","Conta")">
                        <div class='login'>
                            <img src="~/Content/img/login.png">
                            <h1>Área Restrita</h1>
                        </div>
                    </a>
                }
            }
        </div>
    </header>
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Beauty Place</p>
        </footer>
</body>
</html>
