<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index - Beauty Place</title>
    <link rel="stylesheet" href="~/Content/styleindex.css" />
</head>
<body>
    <div class="tudo">
		<div class="tudinho">
			<a href="@Url.Action("Agendamento","Adm")" class="fTudinho botao">Agendar Procedimento</a>
			<a href="@Url.Action("CadFunc","Adm")" class="fTudinho botao">Cadastrar Funcionário</a>
			<a href="@Url.Action("Consulta","Adm")" class="fTudinho botao">Consultar</a>
			<a href="@Url.Action("Estoque","Adm")" class="fTudinho botao">Estoque</a>
			<a href="@Url.Action("CadCli","Adm")" class="fTudinho botao">Cadastrar Cliente</a>
			<a href="@Url.Action("CadProced","Adm")" class="fTudinho botao">Cadastrar Procedimentos</a>
            
            <!--<a href="@Url.Action("Logout","Adm")" class="fTudinho botao">Logout</a>-->

		</div>
    </div>
</body>
</html>